<section class="homeInterior" id="interior">
    <div class="container">
        <div class="section-h2 text-center bold">{{options.interier.title}}</div>
        <div class="homeInterior-slider swiper">
            <div class="swiper-wrapper grid-container">
                {% for list in options.interier.images %}
                    <div class="swiper-slide homeInterior-slider__slide {{ (list.width==1)?"fullwidth":"" }}">
                        <div class="image">
                            <picture><img class="lazyload" loading="lazy"
                                          data-src="{{list.image}}" width="300"
                                          height="230"></picture>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
        <div class="homeInterior-figure">
            <picture>
                <source srcset="{{ theme.link }}/static/img/decorate/interior-big.svg"
                        media="(min-width: 1290px)">
                <source srcset="{{ theme.link }}/static/img/decorate/interior-middle.svg"
                        media="(min-width: 640px)">
                <img class="lazyload" loading="lazy"
                     data-src="{{ theme.link }}/static/img/decorate/interior.svg" width="131" height="186">
            </picture>
        </div>
    </div>
</section>