{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<body class="perf-no-animation page">
<header class="header">
	<div class="container">
		<div class="header-burger">
			<div class="burger"><span></span><span></span><span></span><span></span></div>
		</div><a class="header-logo" href="/">
			<div class="header-logo__img"><img src="{{theme.link}}/static/img/common/logo.svg" width="90" height="31"></div></a>
		<div class="header-nav">
			<ul class="header-nav__ul">
				<li><a href="services.html" data-title="Услуги">Услуги</a></li>
				<li><a href="stocks.html" data-title="Цены и акции">Цены и акции</a></li>
				<li><a href="#" data-title="Популярные проблемы">Популярные проблемы</a></li>
			</ul>
		</div>
		<div class="header-feedback">
			<div class="header-feedback__address"><svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.6324 2.46154C13.014 0.874644 10.861 0 8.57143 0C6.28184 0 4.12881 0.874644 2.51041 2.46154C0.89201 4.04843 0 6.15954 0 8.40456C0 10.3675 0.706053 12.2764 1.9845 13.7835C2.31283 14.1652 2.67603 14.5242 3.06538 14.8433L8.14721 19.8291C8.26634 19.943 8.41743 20 8.57143 20C8.72542 20 8.87651 19.943 8.99564 19.8291L14.0775 14.8433C14.4668 14.5242 14.83 14.1652 15.1554 13.7835C16.4368 12.2764 17.1429 10.3675 17.1429 8.40456C17.1429 6.15954 16.2508 4.04843 14.6324 2.46154ZM8.57143 13.641C5.73269 13.641 3.43438 11.3846 3.43438 8.60114C3.43438 5.82051 5.73269 3.5641 8.57143 3.5641C11.4102 3.5641 13.7085 5.82051 13.7085 8.60114C13.7085 11.3846 11.4102 13.641 8.57143 13.641Z" fill="#8C52FF"/>
				</svg><span>г. Москва, м. Аэропорт Кочновский проезд,&nbsp;4к1</span>
			</div><a class="header-feedback__phone" href="tel:+74950031667"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M17.4754 12.4713C16.3121 12.4713 15.17 12.2894 14.0876 11.9317C13.5573 11.7508 12.9053 11.9168 12.5816 12.2492L10.4452 13.8619C7.96766 12.5394 6.44153 11.0138 5.13706 8.5548L6.70233 6.4741C7.109 6.06798 7.25486 5.47472 7.0801 4.91808C6.72089 3.83003 6.53841 2.6884 6.53841 1.52465C6.53846 0.683951 5.85451 0 5.01386 0H1.5246C0.683949 0 0 0.683951 0 1.5246C0 11.1607 7.83936 19 17.4754 19C18.3161 19 19 18.3161 19 17.4754V13.9959C19 13.1553 18.316 12.4713 17.4754 12.4713Z" fill="#8C52FF"/>
				</svg><span>+7 (495) 003-16-67</span></a><a class="header-feedback__instagram" href="https://www.instagram.com/"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M21 16.4002V4.59983C21 2.05966 18.9546 0 16.431 0H4.56898C2.04542 0 0 2.05966 0 4.59983V16.4002C0 18.9403 2.04542 21 4.56898 21H16.431C18.9546 21 21 18.9403 21 16.4002Z" fill="url(#paint0_radial_1245_1078)"/>
					<path d="M13.661 18.4089H7.27679C4.8339 18.4089 2.83594 16.4062 2.83594 13.9585V7.14126C2.83594 4.69363 4.8339 2.69092 7.27679 2.69092H13.661C16.1039 2.69092 18.1031 4.69363 18.1031 7.14126V13.9585C18.1031 16.4062 16.1039 18.4089 13.661 18.4089V18.4089ZM13.661 17.2331C14.5295 17.2331 15.3481 16.8902 15.9675 16.2697C16.588 15.6492 16.9285 14.8282 16.9285 13.9585V7.14126C16.9285 6.2716 16.588 5.45058 15.9675 4.83007C15.3481 4.20838 14.5295 3.86668 13.661 3.86668H7.27679C6.4095 3.86668 5.58967 4.20838 4.97034 4.83007C4.34984 5.45058 4.00933 6.2716 4.00933 7.14126V13.9585C4.00933 14.8282 4.34984 15.6492 4.97034 16.2697C5.58967 16.8902 6.4095 17.2331 7.27679 17.2331H13.661V17.2331Z" fill="#FEFEFE"/>
					<path d="M14.6974 10.4894C14.6974 12.816 12.8145 14.7013 10.4938 14.7013C8.17076 14.7013 6.28906 12.816 6.28906 10.4894C6.28906 8.16281 8.17076 6.27637 10.4938 6.27637C12.8145 6.27637 14.6974 8.16281 14.6974 10.4894ZM10.4725 7.73332C8.95262 7.73332 7.71991 8.9684 7.71991 10.493C7.71991 12.0164 8.95262 13.2515 10.4725 13.2515C11.9935 13.2515 13.2262 12.0164 13.2262 10.493C13.2262 8.9684 11.9935 7.73332 10.4725 7.73332V7.73332Z" fill="#FEFEFE"/>
					<path d="M15.7584 6.21093C15.7584 6.76144 15.3123 7.20754 14.763 7.20754C14.2125 7.20754 13.7676 6.76144 13.7676 6.21093C13.7676 5.65924 14.2125 5.21313 14.763 5.21313C15.3123 5.21313 15.7584 5.65924 15.7584 6.21093V6.21093Z" fill="#FEFEFE"/>
					<defs>
						<radialGradient id="paint0_radial_1245_1078" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.51574 21.5888) rotate(-77.7963) scale(27.1599)">
							<stop stop-color="#ECCE73"/>
							<stop offset="0.219608" stop-color="#EF832F"/>
							<stop offset="0.411765" stop-color="#F33355"/>
							<stop offset="0.568627" stop-color="#ED3188"/>
							<stop offset="0.74902" stop-color="#9939DF"/>
							<stop offset="1" stop-color="#2A4FF2"/>
						</radialGradient>
					</defs>
				</svg></a><a class="header-feedback__btn btn btn-blue" href="#cons">Бесплатная консультация</a>
		</div>
	</div>
</header>
<div class="mobileMenu">
	<div class="container">
		<div class="mobileMenu-nav">
			<ul class="mobileMenu-nav__ul">
				<li class="has-submenu"><a href="#">Нитевой лифтинг</a>
					<div class="has-submenu__toggle"></div>
					<ul class="submenu">
						<li><a href="#">Лицо</a></li>
						<li><a href="#">Веки</a></li>
					</ul>
				</li>
				<li class="has-submenu"><a href="#">Безоперационная пластика</a>
					<div class="has-submenu__toggle"></div>
					<ul class="submenu">
						<li><a href="#">Ринопластика филлером</a></li>
						<li><a href="#">Ринопластика нитью</a></li>
					</ul>
				</li>
				<li class="has-submenu"><a href="#">Мезотерапия</a>
					<div class="has-submenu__toggle"></div>
					<ul class="submenu">
						<li><a href="#">Мезотерапия</a></li>
					</ul>
				</li>
				<li class="has-submenu"><a href="#">Биоревитализация</a>
					<div class="has-submenu__toggle"></div>
					<ul class="submenu">
						<li><a href="#">Биоревитализация</a></li>
					</ul>
				</li>
				<li class="has-submenu"><a href="#">Липолитики</a>
					<div class="has-submenu__toggle"></div>
					<ul class="submenu">
						<li><a href="#">Липолитики</a></li>
					</ul>
				</li>
				<li class="has-submenu"><a href="#">Омоложение глаз и век</a>
					<div class="has-submenu__toggle"></div>
					<ul class="submenu">
						<li><a href="#">Омоложение глаз и век</a></li>
					</ul>
				</li>
				<li class="has-submenu"><a href="#">Ботулинотерапия</a>
					<div class="has-submenu__toggle"></div>
					<ul class="submenu">
						<li><a href="#">Ботулинотерапия</a></li>
					</ul>
				</li>
				<li><a href="#">Увеличение губ</a></li>
				<li><a href="#">Профиль Джоли</a></li>
			</ul>
		</div>
	</div>
</div>

{% block content %}
	Sorry, no content
{% endblock %}
<footer class="footer">
	<div class="container">
		<div class="footer-logo">
			<div class="footer-logo__img"><img class="lazyload" loading="lazy" data-src="{{theme.link}}/static/img/common/logo-wh.svg" width="80" height="27"></div>
			<ul class="footer-logo__socials footer-socials">
				<li><a href="#">
						<svg width="16" height="16">
							<use xlink:href="{{theme.link}}/static/img/sprites/sprite.svg#ic_fb"></use>
						</svg></a></li>
				<li><a href="#">
						<svg width="16" height="16">
							<use xlink:href="{{theme.link}}/static/img/sprites/sprite.svg#ic_inst"></use>
						</svg></a></li>
				<li><a href="#">
						<svg width="16" height="16">
							<use xlink:href="{{theme.link}}/static/img/sprites/sprite.svg#ic_vk"></use>
						</svg></a></li>
			</ul>
		</div>
		<div class="footer-info">
			<ul class="footer-info__socials footer-socials">
				<li><a href="#">
						<svg width="16" height="16">
							<use xlink:href="{{theme.link}}/static/img/sprites/sprite.svg#ic_fb"></use>
						</svg></a></li>
				<li><a href="#">
						<svg width="16" height="16">
							<use xlink:href="{{theme.link}}/static/img/sprites/sprite.svg#ic_inst"></use>
						</svg></a></li>
				<li><a href="#">
						<svg width="16" height="16">
							<use xlink:href="{{theme.link}}/static/img/sprites/sprite.svg#ic_vk"></use>
						</svg></a></li>
			</ul>
			<div class="footer-info__items">
				<div class="item phone">
					<div class="item-icon"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.0371 7.8766C10.3024 7.8766 9.58104 7.7617 8.89745 7.53579C8.56248 7.42154 8.1507 7.52635 7.94626 7.73632L6.59698 8.75488C5.03221 7.9196 4.06833 6.95604 3.24446 5.40302L4.23305 4.0889C4.48989 3.8324 4.58202 3.45771 4.47164 3.10615C4.24477 2.41896 4.12952 1.69793 4.12952 0.962935C4.12955 0.431968 3.69758 0 3.16665 0H0.962904C0.431968 0 0 0.431968 0 0.962904C0 7.04882 4.95117 12 11.0371 12C11.568 12 12 11.568 12 11.0371V8.83948C12 8.30857 11.568 7.8766 11.0371 7.8766Z" fill="#F6F9FC"/>
						</svg>
					</div>
					<div class="item-text"><a href="#">+7 (495) 003-16-67</a></div>
				</div>
				<div class="item address">
					<div class="item-icon"><svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10.2427 1.75729C9.10983 0.624407 7.60271 0 6 0C4.39729 0 2.89017 0.624407 1.75729 1.75729C0.624407 2.89017 0 4.39729 0 6C0 7.40136 0.494237 8.76407 1.38915 9.84C1.61898 10.1125 1.87322 10.3688 2.14576 10.5966L5.70305 14.1559C5.78644 14.2373 5.8922 14.278 6 14.278C6.1078 14.278 6.21356 14.2373 6.29695 14.1559L9.85424 10.5966C10.1268 10.3688 10.381 10.1125 10.6088 9.84C11.5058 8.76407 12 7.40136 12 6C12 4.39729 11.3756 2.89017 10.2427 1.75729V1.75729ZM6 9.73831C4.01288 9.73831 2.40407 8.12746 2.40407 6.14034C2.40407 4.15525 4.01288 2.54441 6 2.54441C7.98712 2.54441 9.59593 4.15525 9.59593 6.14034C9.59593 8.12746 7.98712 9.73831 6 9.73831Z" fill="#CFCFD0"/>
						</svg>
					</div>
					<div class="item-text">г. Москва, м. Аэропорт Кочновский&nbspпроезд,&nbsp;4к1</div>
				</div>
			</div>
		</div>
		<div class="footer-nav">
			<div class="footer-nav__title">НАШИ УСЛУГИ</div>
			<ul class="footer-nav__ul">
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">НИТЕВОЙ ЛИФТИНГ</a>
							<ul class="submenu">
								<li><a href="#">Лицо</a></li>
								<li><a href="#">Веки</a></li>
								<li><a href="#">Брови</a></li>
								<li><a href="#">Второй подбородок</a></li>
								<li><a href="#">Брыли</a></li>
								<li><a href="#">Живот</a></li>
								<li><a href="#">Бедра и ягодицы</a></li>
								<li><a href="#">Грудь</a></li>
								<li><a href="#">Процедура “Лисьи глазки”</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">БЕЗОПЕРАЦИОННАЯ ПЛАСТИКА</a>
							<ul class="submenu">
								<li><a href="#">Ринопластика филлером</a></li>
								<li><a href="#">Ринопластика нитью</a></li>
							</ul>
						</li>
						<li><a href="#">ЛЕЧЕНИЕ ГИПЕРГИДРОЗА</a></li>
						<li><a href="#">ИНТИМНАЯ КОСМЕТОЛОГИЯ</a></li>
						<li><a href="#">ИНЪЕКЦИИ КОЛЛАГЕНА</a></li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">МЕЗОТЕРАПИЯ</a>
							<ul class="submenu">
								<li><a href="#">Кожа лица</a></li>
								<li><a href="#">Кожа вокруг глаз</a></li>
								<li><a href="#">Губы</a></li>
								<li><a href="#">Тело и живот</a></li>
								<li><a href="#">Шея и зона декольте</a></li>
								<li><a href="#">Бедра и ягодицы</a></li>
								<li><a href="#">Грудь</a></li>
								<li><a href="#">Руки</a></li>
								<li><a href="#">Кожа и голова</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">БИОРЕВИТАЛИЗАЦИЯ</a>
							<ul class="submenu">
								<li><a href="#">Кожа лица</a></li>
								<li><a href="#">Губы</a></li>
								<li><a href="#">Шея и зона декольте</a></li>
								<li><a href="#">Глаза</a></li>
							</ul>
						</li>
						<li class="has-submenu"><a href="#">ЛИПОЛИТИКИ</a>
							<ul class="submenu">
								<li><a href="#">Для лица</a></li>
								<li><a href="#">Для тела</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">ОМОЛОЖЕНИЕ ГЛАЗ И ВЕК</a>
							<ul class="submenu">
								<li><a href="#">Устранение мешков</a></li>
								<li><a href="#">Устранение синяков</a></li>
								<li><a href="#">Заполнение носослёзной борозды</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li><a href="#">УВЕЛИЧЕНИЕ ГУБ</a></li>
						<li><a href="#">ПРОФИЛЬ ДЖОЛИ</a></li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">БОТУЛИНОТЕРАПИЯ</a>
							<ul class="submenu">
								<li><a href="#">Ботокс</a></li>
								<li><a href="#">Диспорт</a></li>
								<li><a href="#">Ботулакс</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">ЛЕЧЕНИЕ АКНЕ ЛИЦА И ТЕЛА</a>
							<ul class="submenu">
								<li><a href="#">Пилинг лица</a></li>
								<li><a href="#">Чистка лица</a></li>
								<li><a href="#">Пилинг спины, декольте, шеи и рук</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<div class="footer-nav__title">ПРОБЛЕМЫ</div>
			<ul class="footer-nav__ul">
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">КОРРЕКЦИЯ ВОЗРАСТНЫХ ИЗМЕНЕНИЙ КОНТУРА ЛИЦА</a>
							<ul class="submenu">
								<li><a href="#">Устранение второго подбородка</a></li>
								<li><a href="#">Устранение брылей</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">УСТРАНЕНИЕ МОРЩИН</a>
							<ul class="submenu">
								<li><a href="#">На лице</a></li>
								<li><a href="#">На лбу</a></li>
								<li><a href="#">Межбровные</a></li>
								<li><a href="#">Носогубные</a></li>
								<li><a href="#">Вокруг рта</a></li>
								<li><a href="#">Не шее (кольца венеры)</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="section">
					<ul class="section-ul">
						<li class="has-submenu"><a href="#">СТАРЕНИЕ РУК, ШЕИ И ЗОНЫ ДЕКОЛЬТЕ, УСТРАНЕНИЕ СУХОСТИ И МОРЩИН</a>
							<ul class="submenu">
								<li><a href="#">В зоне декольте</a></li>
								<li><a href="#">На руках</a></li>
								<li><a href="#">На шее</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="section halfwidth">
					<ul class="section-ul">
						<li><a href="#">КОРРЕКЦИЯ ФОРМЫ НОСА - ГОРБИНКА, ДЛИННЫЙ НОС, ОПУЩЕННЫЙ КОНЧИК</a></li>
						<li><a href="#">ВОЛЮМИЗАЦИЯ (ВОССТАНОВЛЕНИЕ ОБЪЕМА ТЕЛА) ИНЪЕКЦИИ ФИЛЛЕРА: ЯГОДИЦЫ, ГРУДЬ, ИКРЫ</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="footer-about">
			<p>© 2020 «Доктор Рон»</p>
			<p>Линцензия №: ЛО-77-01-014810</p>
			<p>ИНН 7733289690, ОГРН 1167746570045</p>
			<p>Копирование материалов с сайта возможно только при указании активной ссылки на источник</p>
		</div>
		<div class="footer-policy"><a href="#">Использование файлов cookie</a><a href="#">Политика конфиденциальности</a><a href="#">Разработка сайта</a></div>
	</div>
</footer><a class="scroll-top" href="#">
	<svg width="24" height="24">
		<use xlink:href="{{theme.link}}/static/img/sprites/sprite.svg#ic_up"></use>
	</svg></a>
<div class="popup__wrp" id="cons">
	<div class="popup popup-cons">
		<div class="popup-close"><a href="#close"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.7904 12.4999L24.5249 2.76513C25.1584 2.13192 25.1584 1.10811 24.5249 0.474906C23.8917 -0.158302 22.8679 -0.158302 22.2346 0.474906L12.4999 10.2097L2.76535 0.474906C2.13185 -0.158302 1.10834 -0.158302 0.475128 0.474906C-0.158376 1.10811 -0.158376 2.13192 0.475128 2.76513L10.2096 12.4999L0.475128 22.2347C-0.158376 22.8679 -0.158376 23.8917 0.475128 24.5249C0.790694 24.8408 1.20562 24.9995 1.62024 24.9995C2.03487 24.9995 2.44949 24.8408 2.76535 24.5249L12.4999 14.7902L22.2346 24.5249C22.5505 24.8408 22.9651 24.9995 23.3798 24.9995C23.7944 24.9995 24.209 24.8408 24.5249 24.5249C25.1584 23.8917 25.1584 22.8679 24.5249 22.2347L14.7904 12.4999Z" fill="white"/>
				</svg></a></div>
		<div class="popup-content">
			<div class="section-h3 bold blue">Бесплатная консультация</div>
			<div class="popup-content__doctor">
				<picture>
					<source srcset="{{theme.link}}/static/img/mezoniti/howmuch.webp" type="image/webp"/><img class="lazyload" loading="lazy" data-src="{{theme.link}}/static/img/mezoniti/howmuch.jpg" width="359" height="359" src="{{theme.link}}/static/img/mezoniti/howmuch.jpg"/>
				</picture>
				<div class="caption"><span class="blue bold">Рон Анет Эдуардовна</span>Главный врач, косметолог- дермавенеролог, стаж&nbsp;24 года</div>
			</div>
			<form action="">
				<div class="form__field">
					<div class="input input-text">
						<input type="text" placeholder="Ваше имя" required="required"/>
					</div>
				</div>
				<div class="form__field">
					<div class="input input-tel">
						<input type="tel" placeholder="+7 (900) 000-00-00" required="required"/>
					</div>
				</div>
				<div class="form__submit">
					<button class="btn btn-blue" type="submit">Отправить</button>
				</div>
				<div class="form__agreement">Нажимая кнопку “Отправить” вы соглашаетесь с Политикой <a href="#">обработки персональных данных</a></div>
			</form>
		</div>
	</div>
</div>
{{ function('wp_footer') }}
</body>
</html>
