{% extends "base.twig" %}

{% block content %}
    <main>
        {% for item in data.content %}
            {% if item.acf_fc_layout=="banner" %}
                <section class="homeAbout">
                    <div class="container">
                        <div class="homeAbout-text">
                            <div class="homeAbout-text__title section-h1 bold">{{ item.banner_title }}</div>
                            <div class="homeAbout-text__desc">
                                {{ item.banner_text }}
                            </div>
                            <div class="homeAbout-text__btns">
                                <a class="btn btn-blue"
                                   href="{{ item.banner_button_first_link }}">{{ item.banner_button_first_text }}</a>
                                <a class="btn btn-white"
                                   href="{{ item.banner_button_second_link }}">{{ item.banner_button_second_text }}</a>
                            </div>
                        </div>
                        <div class="homeAbout-image">
                            <div class="homeAbout-image__img">
                                <picture>
                                    <source srcset="{{ item.images.image_1280px }}" type="image/jpg"
                                            media="(min-width: 1280px)">
                                    <source srcset="{{ item.images.image_640px }}" type="image/jpg"
                                            media="(min-width: 640px)">
                                    <source srcset="{{ item.images.image_480px }}" type="image/jpg"
                                            media="(min-width: 480px)">
                                    <img src="{{ item.images.image_320px }}" width="320" height="460">
                                </picture>
                            </div>
                            <div class="homeAbout-image__tooltips">
                                {% for coor in item.coord %}
                                    {% if coor.placement=="leftbottom" %}
                                        <div class="tooltip tooltip-top-right" data-1280-top="{{ coor.coor.top }}"  data-1280-left="{{ coor.coor.left }}" data-title="{{ coor.name }}"
											 data-640-top="{{attribute(item.coord_laptop,loop.index0).coor.top }}"  data-640-left="{{attribute(item.coord_laptop,loop.index0).coor.left }}"
											 data-480-top="{{attribute(item.coord_mobile,loop.index0).coor.top }}"  data-480-left="{{attribute(item.coord_mobile,loop.index0).coor.left }}"
											 data-320-top="{{attribute(item.coord_320px,loop.index0).coor.top }}"  data-320-left="{{attribute(item.coord_320px,loop.index0).coor.left }}"
											 style="top: {{ coor.coor.top }}%; left: {{ coor.coor.left }}%"></div>
                                    {% endif %}
                                    {% if coor.placement=="righttop" %}
                                        <div class="tooltip tooltip-bottom-left" data-title="{{ coor.name }}"  data-1280-left="{{ coor.coor.left }}" data-title="{{ coor.name }}"
											 data-640-top="{{attribute(item.coord_laptop,loop.index0).coor.top }}"  data-640-left="{{attribute(item.coord_laptop,loop.index0).coor.left }}"
											 data-480-top="{{attribute(item.coord_mobile,loop.index0).coor.top }}"  data-480-left="{{attribute(item.coord_mobile,loop.index0).coor.left }}"
											 data-320-top="{{attribute(item.coord_320px,loop.index0).coor.top }}"  data-320-left="{{attribute(item.coord_320px,loop.index0).coor.left }}"
                                             style="top: {{ coor.coor.top }}%; left: {{ coor.coor.left }}%"></div>
                                    {% endif %}
                                    {% if coor.placement=="rightbottom" %}
                                        <div class="tooltip tooltip-top-left" data-title="{{ coor.name }}"  data-1280-left="{{ coor.coor.left }}" data-title="{{ coor.name }}"
											 data-640-top="{{attribute(item.coord_laptop,loop.index0).coor.top }}"  data-640-left="{{attribute(item.coord_laptop,loop.index0).coor.left }}"
											 data-480-top="{{attribute(item.coord_mobile,loop.index0).coor.top }}"  data-480-left="{{attribute(item.coord_mobile,loop.index0).coor.left }}"
											 data-320-top="{{attribute(item.coord_320px,loop.index0).coor.top }}"  data-320-left="{{attribute(item.coord_320px,loop.index0).coor.left }}"
                                             style="top: {{ coor.coor.top }}%; left: {{ coor.coor.left }}%"></div>
                                    {% endif %}
                                {% endfor %}




                            </div>
                        </div>
                        <div class="homeAbout-figure"><img class="lazyload" loading="lazy"
                                                           data-src="{{ theme.link }}/static/img/decorate/main.svg"
                                                           width="135" height="334"></div>
                    </div>
                </section>
            {% endif %}
			{% if item.acf_fc_layout=="about_us" %}
				<section class="homeChief with-background">
					<div class="container">
						<div class="homeChief-title section-h2 bold">{{ item.about_us.title }}
						</div>
						<div class="homeChief-image">
							<picture>
								<source srcset="{{ item.about_us.image_960px }}" type="image/png"
										media="(min-width: 960px)">
								<source srcset="{{ item.about_us.image_480px }}" type="image/png"
										media="(min-width: 480px)">
								<img class="lazyload" loading="lazy"
									 data-src="{{ item.about_us.image_310px }}" width="310" height="310">
							</picture>
						</div>
						<div class="homeChief-advantages">
							<div class="homeChief-advantages__title bold"><span>{{ item.about_us.work_position }}</span>
								<div class="section-h3 blue">{{ item.about_us.name }}</div>
								<span>{{ item.about_us.work_position_second }}</span>
							</div>
							<div class="homeChief-advantages__items">
								{% for list in item.about_us.list %}
									<div class="item">
										<div class="item-icon">
											<img src="{{ list.icon }}" alt="">

										</div>
										<div class="item-text">{{list.text}}</div>
									</div>
								{% endfor %}
								
								
							</div>
							<a class="homeChief-advantages__btn btn btn-blue" href="{{ item.about_us.button_link }}">{{ item.about_us.button_text }}</a>
						</div>
						<div class="homeChief-figure">
							<picture>
								<source srcset="{{ theme.link }}/static/img/decorate/chief-big.svg" media="(min-width: 1290px)">
								<img class="lazyload" loading="lazy" data-src="{{ theme.link }}/static/img/decorate/chief.svg"
									 width="167" height="185">
							</picture>
						</div>
					</div>
				</section>
			{% endif %}
			{% if item.acf_fc_layout=="popular_services" %}
				<section class="homePopular">
					<div class="container">
						<div class="section-h2 text-center bold">Популярные услуги</div>
						<div class="homePopular-items">
							<div class="homePopular-items__item">
								<div class="image">
									<picture><img class="lazyload" loading="lazy"
												  data-src="{{item.first_service.image }}" width="137"
												  height="164"></picture>
								</div>
								<div class="title bold">{{item.first_service.title}}</div>
								<div class="caption caption-blue bold">{{item.first_service.desc}}</div>
								<div class="price">
									<div class="price-old">{{item.first_service.price}}</div>
									<div class="price-new bold blue">{{item.first_service.price_second}}</div>
								</div>
								<a class="btn btn-white" href="{{item.first_service.link}}">Смотреть</a>
							</div>
							<div class="homePopular-items__item">
								<div class="image">
									<picture><img class="lazyload" loading="lazy"
												  data-src="{{ item.second_service.image }}" width="179"
												  height="160"></picture>
								</div>
								<div class="title bold">{{ item.second_service.title }}</div>
								<div class="caption caption-with-image bold">
									<picture><img class="lazyload" loading="lazy"
												  data-src="{{  item.second_service.logo  }}" width="156"
												  height="65"></picture>
								</div>
								<div class="price">
									<div class="price-old">{{  item.second_service.price  }}</div>
									<div class="price-new bold violet">{{  item.second_service.price_second  }}</div>
								</div>
								<a class="btn btn-white btn-violet" href="{{ item.second_service.link  }}">Смотреть</a>
							</div>
							<div class="homePopular-items__item">
								<div class="image">
									<picture><img class="lazyload" loading="lazy"
												  data-src="{{item.third_service.image }}" width="153"
												  height="180"></picture>
								</div>
								<div class="title bold">{{item.third_service.title}}</div>
								<div class="caption caption-violet bold">{{item.third_service.desc}}</div>
								<div class="price">
									<div class="price-old">{{item.third_service.price}}</div>
									<div class="price-new bold violet">{{item.third_service.price_second}}</div>
								</div>
								<a class="btn btn-white btn-violet" href="{{item.third_service.link}}">Смотреть</a>
							</div>
							<div class="homePopular-items__item">
								<div class="image">
									<picture><img class="lazyload" loading="lazy"
												  data-src="{{item.fourth_service.image }}" width="130"
												  height="180"></picture>
								</div>
								<div class="title bold">{{item.fourth_service.title}}</div>
								<div class="caption caption-pink bold">{{item.fourth_service.desc}}</div>
								<div class="price">
									<div class="price-old">{{item.fourth_service.price}}</div>
									<div class="price-new bold pink">{{item.fourth_service.price_second}}</div>
								</div>
								<a class="btn btn-white btn-pink" href="{{item.fourth_service.link}}">Смотреть</a>
							</div>
						</div>
					</div>
				</section>
			{% endif %}
			{% if item.acf_fc_layout=="our_works" %}
				<section class="homeWorks">
					<div class="container">
						<div class="homeWorks-title section-h2 bold text-center">Наши работы</div>
						<div class="homeWorks-tabs tabs__block">
							<div class="homeWorks-tabs__toggles tabs__toggles">
								{% for list in item.our_works %}
									<div class="homeWorks-tabs__toggle tabs__toggle {{ (loop.index0==0) ? "is-active":""}} ">{{list.title}}</div>
								{% endfor %}


							</div>
							<div class="homeWorks-tabs__contents">
								{% for list in item.our_works %}

								<div class="homeWorks-tabs__content tabs__content {{ (loop.index0==0) ? "is-active":""}}">
									<div class="homeWorks-slider swiper">
										<div class="swiper-wrapper">
									{% for image in list.images %}
													<div class="swiper-slide homeWorks-slider__slide">
														<picture><img class="lazyload" loading="lazy"
																	  data-src="{{image }}"
																	  width="300" height="176"></picture>
													</div>

									{% endfor %}
										</div>
										<div class="swiper-pagination homeWorks-slider__pagination"></div>
										<div class="swiper-button-prev homeWorks-slider__arrow homeWorks-slider__prev"></div>
										<div class="swiper-button-next homeWorks-slider__arrow homeWorks-slider__next"></div>
									</div>
								</div>

								{% endfor %}


							</div>
						</div>
					</div>
				</section>
			{% endif %}

			{% if item.acf_fc_layout=="form" %}
				<div class="homeResult">
					<div class="container">
						<div class="homeResult-banner">
							<div class="homeResult-banner__image">
								<picture><img class="lazyload" loading="lazy"
											  data-src="{{ item.image_form}}" width="220"
											  height="300"></picture>
							</div>
							<div class="homeResult-banner__title section-h3 bold">{{item.title}}</div>
							<div class="homeResult-banner__desc">{{ item.text }}</div>
							<div class="homeResult-banner__phones">
								<div class="phone">
									<div class="phone-title">Для регионов</div>
									<div class="phone-value"><a href="tel:{{ item.region }}">{{ item.region }}</a></div>
								</div>
								<div class="phone">
									<div class="phone-title">Для Москвы и МО</div>
									<div class="phone-value"><a href="tel:{{ item.moscow }}">{{ item.moscow }}</a></div>
								</div>
							</div>
							<div class="homeResult-banner__btn"><a class="btn btn-white" href="#cons">Получить консультацию</a>
							</div>
						</div>
						<div class="homeResult-figure">
							<picture>
								<source srcset="{{ theme.link }}/static/img/decorate/result-banner-big.svg"
										media="(min-width: 1152px)">
								<source srcset="{{ theme.link }}/static/img/decorate/result-banner-middle.svg"
										media="(min-width: 640px)">
								<img class="lazyload" loading="lazy"
									 data-src="{{ theme.link }}/static/img/decorate/result-banner.svg" width="205" height="209">
							</picture>
						</div>
					</div>
				</div>
			{% endif %}
			{% if item.acf_fc_layout=="catalog" %}
			<section class="homeCatalog">
				<div class="container">
					<div class="section-h2 bold text-center">Каталог услуг</div>
					<div class="homeCatalog-items">
						{% for list in item.services %}
							<a class="homeCatalog-items__item {{ (list.width==1)?"fullwidth":"" }} {{ (list.mobile==1)?"djolly":"" }} " href="{{list.link}}">
								<div class="item-text">
									<div class="item-text__name bold">{{ list.title }}</div>
									<div class="item-text__price bold">от <span class="blue">{{list.price}}</span></div>
									<div class="item-btn btn btn-white">Смотреть</div>
								</div>
								<div class="item-image">
									<picture>
										<source srcset="{{ list.image_1152px }}" type="image/png"
												media="(min-width: 1152px)">
										<source srcset="{{ list.image_960px }}" type="image/png"
												media="(min-width: 960px)">
										<source srcset="{{ list.image_640px }}" type="image/png"
												media="(min-width: 640px)">
										<source srcset="{{ list.image_480px }}" type="image/png"
												media="(min-width: 480px)">
										<img class="lazyload" loading="lazy"
											 data-src="{{ list.image_320px }}" width="144"
											 height="145">
									</picture>
								</div>
							</a>
						{% endfor %}


					</div>
					<div class="homeCatalog-figure">
						<picture>
							<source srcset="{{ theme.link }}/static/img/decorate/catalog-big.svg"
									media="(min-width: 1152px)">
							<source srcset="{{ theme.link }}/static/img/decorate/catalog-middle.svg"
									media="(min-width: 640px)">
							<img class="lazyload" loading="lazy" data-src="{{ theme.link }}/static/img/decorate/catalog.svg"
								 width="159" height="146">
						</picture>
					</div>
				</div>
			</section>
			{% endif %}
			{% if item.acf_fc_layout=="rating" %}
				{% include "/partial/rating.twig" %}

			{% endif %}
			{% if item.acf_fc_layout=="pacients" %}
				{% include "/partial/pacients.twig" %}
			{% endif %}
			{% if item.acf_fc_layout=="form_inline" %}
				<div class="homeForm">
					<div class="container">
						<div class="homeForm-block">
							<div class="homeForm-block__image">
								<picture>
									<source srcset="{{ item.form.image_640px }}" type="image/png"
											media="(min-width: 640px)">
									<img class="lazyload" loading="lazy" data-src="{{ item.form.image_246px }}"
										 width="246" height="443">
								</picture>
							</div>
							<div class="homeForm-block__title section-h3 bold">{{item.form.title}}</div>
							<div class="homeForm-block__desc">{{item.form.desc}}</div>
							<form class="homeForm-block__form" action="/wp-json/contact-form-7/v1/contact-forms/5/feedback" method="POST" data-form="banner">
								<div class="form__field">
									<div class="input input-text"><span class="label">Ваше имя</span>
										<input type="text" name="your-name" placeholder="Иван Иванов"/>
									</div>
								</div>
								<div class="form__field">
									<div class="input input-tel"><span class="label">Номер телефона</span>
										<input type="tel" name="your-phone" placeholder="+7 (900) 000-00-00"/>
									</div>
								</div>
								<div class="form__submit">
									<button class="btn btn-white" type="submit">Получить консультацию</button>
								</div>
								<div class="form__agreement">Нажимая кнопку "Отправить", вы соглашаетесь с <a href="{{item.link}}">Политикой
										обработки персональных данных</a></div>
							</form>
						</div>
						<div class="homeForm-figure">
							<picture>
								<source srcset="{{ theme.link }}/static/img/decorate/question-form-big.svg"
										media="(min-width: 1152px)">
								<img class="lazyload" loading="lazy"
									 data-src="{{ theme.link }}/static/img/decorate/question-form.svg" width="195" height="229">
							</picture>
						</div>
					</div>
				</div>
			{% endif %}
			{% if item.acf_fc_layout=="interier" %}
				{% include "/partial/interier.twig" %}
			{% endif %}
			{% if item.acf_fc_layout=="certificates" %}
				{% include "/partial/certificates.twig" %}
			{% endif %}
			{% if item.acf_fc_layout=="contacts" %}
				{% include "/partial/contacts.twig" %}
			{% endif %}
        {% endfor %}


		{% include "/partial/popup.twig" %}










    </main>
{% endblock %}
